html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}
.search {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: rgb(23, 24, 22);
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.example-form {
  margin: 1rem;
}
