img {
  width: 2rem;
}

td {
  text-align: center;
  vertical-align: middle;
}

// #############
.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
    0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
}

.table-container {
  padding: 10rem;
  font-size: 18px;

  background-color: #010a01;
}

h1,
h2 {
  text-align: center;
  font-weight: 400;
}

h1 {
  font-size: 5.2rem;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

h2 {
  font-size: 1.8rem;
}
