<mat-toolbar color="primary" class="menu flex">
  <img src="{{ mainLogo.src }}" alt="{{ mainLogo.alt }}" />
  <span>Hopiumfolio</span>

  <!--   <div class="menu-nav">
    <img
      routerLink="portfolio"
      src="{{ portfolio.src }}"
      alt="{{ portfolio.alt }}"
      (click)="_portfolioData.getDataChartList(_newRowData.tableRowList)"
    />
  </div> -->

  <!--   <div class="menu-nav">
    <img routerLink="config" src="{{ config.src }}" alt="{{ config.alt }}" />
  </div> -->

  <!--   <div>
    <app-currency></app-currency>
  </div> -->
</mat-toolbar>
