@import "/src/assets/scss/variables.scss";

img {
  width: $header-logo-width-100;
}

.menu-nav:hover img {
  cursor: pointer;
  transform: scale(0.95);
}

div:nth-child(3) {
  position: absolute;
  right: 16rem;
}

div:nth-child(4) {
  position: absolute;
  right: 8rem;
}

.menu {
  > img {
    width: $header-logo-width-200;
  }
}
