@use "/src/assets/scss/variables.scss" as *;

.site-footer {
  text-align: center;
  padding: 15px 0 15px;
  font-size: 15px;
  line-height: 24px;
  background-color: $g-clr-dark-200;
  color: $footer-txt-a;

  & a {
    width: 40px;
    height: 10px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    color: $footer-txt-a;
    &:hover {
      color: $footer-txt-a-hover;
      text-decoration: none;
    }
  }
}

.copyright-text {
  margin: 0;
}

.coingecko-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
