<footer class="site-footer">
    <div class="container">
        <p class="copyright-text">
            Copyright &copy; 2022 All Rights Reserved by
            <a href="#">hopiumfolio</a>.
            <a href="https://www.coingecko.com" target="_blank" rel="noreferrer nofollow">
                <div class="coingecko-wrapper">
                    <span>Hopium given by </span
          > <img style="margin-left: 0.5rem;"
            src="https://www.marketcapof.com/prefetch/coingecko.svg"
            alt="coingecko"
            width="88"
            height="23"
          /></div
      ></a>
    </p>
  </div>
</footer>